{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <h2>Welcome to the login page</h2>

  <div class="flex-center">
    <form method="post" action="/login">
        <div>
            <label>Email:</label><br>
            <input type="mail" name="mail">
        </div>
        
        <div>
            <label>Mot de passe:</label><br>
            <input type="password" name="password" >
        </div>

        <div>
            <label for="btn_submit" class="btn_submit">Se connecter</label><br>
            <input type="submit" name="btn_submit" class="none" id="btn_submit">
        </div> 
    </form>

    <div id="provider_login">
        Se connecter avec <a href="" class="link"> <img  class="logo" src="/images/google.png" alt="logo google">Google</a> 
        ou <a href="" class="link"> <img class="logo" src="/images/facebook.png" alt="logo google">Facebook</a>
    </div><br>

    <div>Pas encore inscrit ? Cliquez <a href="/register">ici</a> pour créer un compte</div>
  </div>
  
{% endblock %}
